<h3><b>Vocabulary:</b></h3>
<ul>
<li>Hydrophilic = Water-Loving</li>
<li>Lipophilic = Fat-Loving</li>
</ul>
<h1>What are Lipids?</h1>
<p>Lipids are non-polar entities composed of fatty acid chains that are attached to glycerol. Lipids are made up out of Carbon, Hydrogen, and Oxygen. Lipids can be found naturally in fats and oils. There are 4 types of lipids:</p>
<ul>
<li>Fats – Insulation &amp; energy storage</li>
<li>Phospholipids – Plasma Membranes</li>
<li>Steroids – Cell Messengers</li>
<li>Waxes – Protection &amp; Insulation</li>
</ul>
<h3><b>Why are lipids important?</b></h3>
<p>Lipids are very important as they are responsible for long term energy storage, cell membrane support, and hormone creation.</p>
<h3><b></b>The four major categories of lipids:</h3>
<ul>
<li>
<h3><b>Fats:</b></h3>
</li>
</ul>
<p>A fat molecule is composed out of two distinct pieces: a glycerol backbone and three fatty acid tails. Fat molecules are also known as triacylgycerols. In the human body, triacylglycerols are stored inside of specialized fat cells known as adipocytes, which make up adipose tissue. There are two types of fatty acids: saturated and unsaturated. Saturated fats have single bonds between the carbons of the hydrocarbon chain, meaning that more hydrogen atoms can bond to the carbon skeleton. Unsaturated fats have double bonds between the carbons of the hydrocarbon chain, meaning that less hydrogen atoms can bond as more electrons are preoccupied due to the presence of double bonds.</p>
<ul>
<li>
<h3><b>Phospholipids:</b></h3>
</li>
</ul>
<p>Phospholipids are a major component of all cell membranes and are <i>amphiphilic </i>in nature, meaning that they possess both <i>hydrophilic </i>and <i>lipophilic </i>properties.Hydrophilic: Water-LovingLipophilic: Fat-LovingIn biological systems, phospholipids combine their abilities with proteins, glycolipids, steroids, &amp; other components to form a lipid bilayer within the cell membrane.</p>
<ul>
<li>
<h3><b>Steroids:</b></h3>
</li>
</ul>
<p>Steroids are involved in the regulation of metabolism, immune response, &amp; reproductive processes. Steroids are chemical messengers that turn on or off genes. Common examples of steroids include cholesterol, estrogen, and testosterone.</p>
<ul>
<li>
<h3>Waxes:</h3>
</li>
</ul>
<p>Waxes are essential when it comes to the protection and insulation of a cell. Waxes function as a protective covering that prevents water loss in plants and maintains skin and fur in animals.</p>
