<h1><b>Vocabulary:</b></h1>
<ul>
<li><b>Atom &#8211;</b> An incredibly tiny particle that is the most basic unit of a chemical element and makes up all matter in the known universe.</li>
<li><b>Matter &#8211;</b> Any physical substance that occupies space and possesses mass.</li>
</ul>
<h1><b>The Atomic Theory:</b></h1>
<p>John Dalton is credited with developing the atomic theory. The atomic theory states:</p>
<ul>
<li>All matter is composed of atoms.</li>
<li>All atoms within a certain element are identical to one another &amp; different from the atoms of a different element.</li>
<li>Atoms from 2+ different elements can combine to form a compound.</li>
<li>Chemical reactions involve the rearrangement, separation, and/or combination of atoms</li>
</ul>
<h1><b>What are Atoms?</b></h1>
<p>Atoms are the smallest pieces of matter that still retain recognizable traits! All matter in the known universe is made up out of atoms. Atoms are essentially extremely tiny building blocks that can combine with others to form different types of matter. The four most common states of matter are: solid, liquid, gas, and plasma.</p>
<h1><b>States of Matter:</b></h1>
<p>There are four fundamental states of matter; solid, liquid, gas, and plasma.</p>
<h3>Solid:</h3>
<p>In a solid, the particles are tightly compacted and organized, forming a stable structure.  These particles can be atoms, ions, or even molecules. The attractive forces between the particles hold them together so that the particles cannot move around freely but can only vibrate in place. Typically, a solid has an organized structure that is maintained throughout the entire solid object.</p>
<ul>
<li>Shape: Definite Shape</li>
<li>Volume: Definite Volume</li>
<li>Examples: Ice, Coffee Mug, Firetruck</li>
</ul>
<h3>Liquid:</h3>
<p>The liquid state is wet and fluid. The molecules of a liquid are able to flow over top of one another because they are not tightly held together. A liquid will fill whatever space it is confined in, but it cannot be compressed further.</p>
<ul>
<li>Shape: Indefinite Shape</li>
<li>Volume: Definite Volume</li>
<li>Examples: Liquid Water (H20), Espresso, Lemonade</li>
</ul>
<h3>Gas:</h3>
<p>The gaseous state has a very low density as the particles are not very close together. Since these particles are not connected to one another, they will fly around in random directions at high speed. This causes a gas to expand to fill whatever space it is confined within. A gas can be compressed to make it more concentrated.</p>
<ul>
<li>Shape:Indefinite Shape</li>
<li>Volume: Indefinite Volume</li>
<li>Examples: Oxygen (O2), Nitrogen (N2), Helium (He2), Water Vapor (H20)</li>
</ul>
<h3>Plasma:</h3>
<p>Like gases, plasma does not have a definite shape nor definite volume. However, plasma is unique as it&#8217;s particles are electrically conductive. A plasma is a sea of independent electrons(-) with nuclei(+) spread throughout. The electron &#8220;sea&#8221; allows plasma matter to conduct electricity.</p>
<ul>
<li>Shape: Indefinite Shape</li>
<li>Volume: Indefinite Volume</li>
<li>Examples: Lightning, Neon lights, plasma television.</li>
</ul>
