<h1><b>Atomic Structure:</b></h1>
<p>Atoms are composed out of a combination of three unique particles. These particles are known as protons (+), neutrons (0), and electrons(-).Protons and neutrons collect together at the center of the atom, known as the nucleus, while electrons orbit around in the electron cloud.Electrons are responsible for forming links between atoms, known as chemical bonds.<img src="https://storage.googleapis.com/biology-images/crystal_media/carbon_diagram-300x300.png" /></p>
<h1><b></b><b></b><b></b><b>Atomic Components:</b></h1>
<h3><u></u><u></u><u></u><u></u><u></u><strong>Proton: </strong></h3>
<p>Protons are positively charged particles found within the atomic nucleus at the center of an atom.<img src="https://storage.googleapis.com/biology-images/crystal_media/atomtcg_proton-300x300.png" /></p>
<ul>
<li>Location: Atomic Nucleus</li>
<li>Atomic Mass (AMU) = 1</li>
<li>Charge = 1+</li>
<li>Symbol = P+</li>
</ul>
<h3><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><strong>Neutron: </strong></h3>
<p>Neutrons are neutral particles (no electric charge) that are found within the atomic nucleus at the center of an atom.<img src="https://storage.googleapis.com/biology-images/crystal_media/atomtcg_neutron-300x300.png" /></p>
<ul>
<li>Location: Atomic Nucleus</li>
<li>Atomic Mass (AMU) = 1</li>
<li>Charge = 0</li>
<li>Symbol = N°</li>
</ul>
<h3><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><b><u></u></b><u></u><u></u><u></u><u></u><u></u><u></u><strong>Electron: </strong></h3>
<p><img src="https://storage.googleapis.com/biology-images/crystal_media/atomtcg_electron-300x300.png" />Electrons are negatively charged particles that are found in the electron cloud, orbiting around the atomic nucleus.</p>
<ul>
<li>Location: Electron Cloud</li>
<li>Atomic Mass (AMU) = ~0</li>
<li>Charge = 1-</li>
<li>Symbol = e-</li>
</ul>
