<h1><b>Compounds &amp; Molecules:</b></h1>
<p>When atoms combine with one another they will form compounds and molecules. All compounds are molecules but not all molecules are compounds. <img src="https://storage.googleapis.com/biology-images/crystal_media/elementsandcompounds_f2-1024x1024.png" /></p>
<h3><b>What is a Compound?</b></h3>
<p>A compound is a distinct substance that is composed out of two or more unique elements that are joined together by chemical bonds. When a compound forms, the atoms within it lose their unique individual properties and the compound assumes new properties based off of its composition. Typically, a compound is represented by it&#8217;s chemical formula, a combination of letters and numbers that explain exactly what atoms are present and how many there are. Examples:</p>
<ul>
<li>Water: H2O</li>
<li>Salt: NaCL</li>
<li>Sugar:  ‎C6H12O6</li>
</ul>
<h3><b>What is a Molecule?</b></h3>
<p>A molecule is the smallest distinguishable particle of a substance that still retains the physical and chemical properties of that substance. For most elements, the basic molecule is just one atom but certain elements, such as oxygen, hydrogen, and nitrogen, always have at least two atoms in their most basic molecular form. Like compounds, molecules are represented by a chemical formula. A molecule is always a compound!Examples:</p>
<ul>
<li>Hydrogen: H2</li>
<li>Oxygen: O2</li>
<li>Nitrogen: N2</li>
</ul>
